<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Canteen Management Service</title>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
<link rel="preconnect" th:href="@{https://fonts.gstatic.com}"
	crossorigin>
<link
	th:href="@{https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/addandupdatemenu.css}" />
</head>
<body>
	<a th:href="@{/logout}" class="logoutbutton">Log out</a>
	<div class="userboard">
		<div class="menubar">
			<h3 class="hellouser">Hello, Admin</h3>
			<a th:href="@{/admin/updateUserProfile}"><i class="fa-solid fa-user icon"></i> Update user profile</a> <a
				th:href="@{/admin/addAndUpdateMenu}" class="active"> <i class="fa-sharp fa-solid fa-bowl-food icon"></i> Add and
				Update menu</a> <a th:href="@{/admin/viewPreviousOrders}"><i class="fa-solid fa-backward icon"></i> View
				Previous orders</a> <a th:href="@{/admin/viewUpcomingOrders}"><i class="fa-solid fa-forward icon"></i> View
				Upcoming orders</a> <a th:href="@{/admin/viewFeedbacks}"><i class="fa-solid fa-comment-dots icon"></i> View
				Feedbacks</a><a th:href="@{/admin/analytics}"><i class="fa-sharp fa-solid fa-chart-simple icon"></i>  Analytics</a>

		</div>
		<div class="maincontent">

			<div class="menuInputForm">
				<form th:action="@{/admin/addfood}" class="actualForm" method="post" onsubmit="return validateFileSize()" enctype="multipart/form-data">
					<h1>Add a new Item</h1>
					<input type="text" placeholder="Enter the item name"
						class="inputField" name="name" required /> <input type="text"
						placeholder="Enter the price" class="inputField" name="price"
						required /> <input type="date" placeholder="Enter the date"
						class="inputField" name="foodServedDate" required />
					<div class="secondInput">


						<div class="radioBtns inputField">
							<input type="radio" id="red" name="type" value="Nonveg" required>
							<label for="red">Non-Veg</label> <input type="radio" id="green"
								name="type" value="Veg" required> <label for="green">Veg</label>
						</div>

						<div id="file-upload">
							<input type="file" name="itemImage" accept=".png, .jpg, .jpeg" id = "fileInput"/>
						</div>
					</div>
					<div class="submitButton">
						<input type="submit" value="Add Item" class="button" />
					</div>
				</form>

			</div>



			<h2>Current Menu</h2>
			<table class="styled-table">
				<thead>
					<tr>
						<th>Food Id</th>
						<th>Available From</th>
						<th>Item Name</th>
						<th>Type</th>
						<th>Price</th>
						<th>Action</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="item :  ${menuItems}">
						<td th:text="${item.ID}"></td>
						<td th:text="${item.foodServedDate}"></td>
						<td th:text="${item.name}"></td>
						<td th:text="${item.type}"></td>
						<td th:text="'Rs' +' '+ ${item.Price} "></td>
						<td><a th:href="@{'/admin/deletefood/'+${item.ID}}"
							class="deletefooditem">Delete Food item</a></td>
					</tr>


				</tbody>
			</table>

		</div>
	</div>
	<div class="toast" id="toast"
		style="position: absolute; top: 10px; left: 50%; transform: translateX(-50%)">
		<div class="toast-header">
			<strong class="mr-auto">Signed In Successfully</strong>
		</div>
		<div class="toast-body">Welcome!!</div>
	</div>
	<div class="toast" id="Added"
		style="position: absolute; top: 10px; left: 50%; transform: translateX(-50%)">
		<div class="toast-header">
			<strong class="mr-auto">Food Item Added<strong>
		</div>
	</div>
	<div class="toast" id="MenuDeleted"
		style="position: absolute; top: 10px; left: 50%; transform: translateX(-50%)">
		<div class="toast-header">
			<strong class="mr-auto">Food Item Deleted<strong>
		</div>
	</div>
	<div class="toast" id="PriceWrong"
		style="position: absolute; top: 10px; left: 50%; transform: translateX(-50%)">
		<div class="toast-header">
			<strong class="mr-auto">Wrong price input<strong>
		</div>
	</div>
	<script type="text/javascript">
	const queryString = window.location.search;
	console.log(queryString);
	const urlParams = new URLSearchParams(queryString);
	const deleted = urlParams.get('deleted')
	const Added = urlParams.get('Added')
	const PriceWrong = urlParams.get('PriceWrong')
	function showMenuDeletedToast() {
		if(deleted==="1"){
			var myAlert = document.getElementById('MenuDeleted');//select id of toast
		      var bsAlert = new bootstrap.Toast(myAlert,{delay:2000});//inizialize it
		      bsAlert.show();//show it
		}
	}
	function showMenuAddedToast() {
		if(Added==="1"){
			var myAlert = document.getElementById('Added');//select id of toast
		      var bsAlert = new bootstrap.Toast(myAlert,{delay:2000});//inizialize it
		      bsAlert.show();//show it
		}
	}
	function showPriceWrongToast() {
		if(PriceWrong==="1"){
			var myAlert = document.getElementById('PriceWrong');//select id of toast
		      var bsAlert = new bootstrap.Toast(myAlert,{delay:2000});//inizialize it
		      bsAlert.show();//show it
		}
	}
	
	window.onload= ()=>	{
	showMenuDeletedToast();
	showMenuAddedToast();
	showPriceWrongToast();
	}

	function delayPopup()
	{
		if(deleted==="1"){
			const url = window.location.href;
			console.log(url);
			const urlobj = new URL(url);
			urlobj.searchParams.delete("deleted");
			console.log(urlobj.toString());	
			window.location.assign(urlobj.toString());
		}	
		if(Added==="1"){
			const url = window.location.href;
			console.log(url);
			const urlobj = new URL(url);
			urlobj.searchParams.delete("Added");
			console.log(urlobj.toString());	
			window.location.assign(urlobj.toString());
		}
		if(PriceWrong==="1"){
			const url = window.location.href;
			console.log(url);
			const urlobj = new URL(url);
			urlobj.searchParams.delete("PriceWrong");
			console.log(urlobj.toString());	
			window.location.assign(urlobj.toString());
		}
	}
	
	setTimeout(delayPopup,2000)
	</script>
	<script>
	function showToast() {
	      var myAlert = document.getElementById('toast');//select id of toast
	      var bsAlert = new bootstrap.Toast(myAlert,{delay:2000});//inizialize it
	      bsAlert.show();//show it
	    }
	
	//Setting the session so that the popup does not display again
	var is_modal_show = sessionStorage.getItem('alreadyShow');
	if(is_modal_show != 'already shown'){
	window.onload= ()=>showToast();
	sessionStorage.setItem('alreadyShow','already shown');
	}
	</script>
	
	<script th:inline="javascript">
    function validateFileSize() {
        var fileInput = document.getElementById('fileInput');
        var maxSize = 100 * 1024; 
        if (fileInput.files[0].size > maxSize) {
            alert('File size must be less than 100KB');
            return false;
        }
        return true;
    }
</script>
</body>
</html>

