<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Canteen Management Service</title>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
<link rel="preconnect" th:href="@{https://fonts.gstatic.com}"
	crossorigin>
<link
	th:href="@{https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}"
	rel="stylesheet">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
	<link rel="stylesheet" th:href="@{/css/viewfeedbackadmin.css}" />
	<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	crossorigin="anonymous"></script>
	
	
</head>
<body>
	<a th:href="@{/logout}" class="logoutbutton">Log out</a>
	<div class="userboard">
		<div class="menubar">
			<h3 class="hellouser">Hello, Admin</h3>
			<a th:href="@{/admin/updateUserProfile}"><i class="fa-solid fa-user icon"></i> Update user profile</a> <a
				th:href="@{/admin/addAndUpdateMenu}"> <i class="fa-sharp fa-solid fa-bowl-food icon"></i> Add and Update menu</a> <a
				th:href="@{/admin/viewPreviousOrders}"><i class="fa-solid fa-backward icon"></i> View Previous orders</a> <a
				th:href="@{/admin/viewUpcomingOrders}"><i class="fa-solid fa-forward icon"></i> View Upcoming orders</a> <a
				th:href="@{/admin/viewFeedbacks}" class="active"><i class="fa-solid fa-comment-dots icon"></i> View Feedbacks</a>
				<a th:href="@{/admin/analytics}"><i class="fa-sharp fa-solid fa-chart-simple icon"></i>  Analytics</a>
		</div>
		<div class="maincontent">

			<form th:action="@{/admin/viewfeedbackbyname}" class="formInput">
				<h1>View Feedbacks</h1>
				<h2>View feedbacks for a specific food item</h2>
				<input type="text" name="food" placeholder="Enter food Name" /> <input
					type="submit" value="View feedbacks" class="button" />
			</form>

			<div class="viewpreviousordersheader">
				<h3 class="orderstitle">All Feedbacks</h3>
				<form th:action="@{/admin/feedbackdownload}" class="downloadPDF">

					<input type="text" name=food th:value="${food}" class="disabled" />
					<input type="submit" name="excel" value="Download excel" class="button downloadbtn" />
				<input type="submit" name="pdf" value = "Download pdf" class = "button downloadbtn"/>

				</form>
			</div>
			<div class="allfeedbacks" th:object="${feedbacks}">
				<div class="feedback " th:each="f :  ${feedbacks}">
				<!-- <p th:text="${f.rating}"></p> -->
					<div th:switch="${f.rating}" class="rating-stars">
						  <div th:case="1">★</div>
						  <div th:case="2">★★</div>
						  <div th:case="3">★★★</div>
						  <div th:case="4">★★★★</div>
						  <div th:case="5">★★★★★</div>
						</div>
		
					<p th:text="${f.feedback}"></p>
					<div class="below">
						<h3>
							<span th:text="${f.canteenUsers.name}" class="feedprovider"></span>
							<span class="line">|</span><span th:text="${f.food.name}"
								class="feedbackfoodname"></span>
						</h3>
						<a th:href="@{'/admin/deleteOrderFeedback/'+${f.orderId}}">Delete
							Feedback</a>
					</div>

				</div>
			</div>


		</div>
	</div>
	<div class="toast" id="feedbackDeleted" style="position: absolute; top: 10px; left: 50%;transform:translateX(-50%)">
	    <div class="toast-header">
	      <strong class="mr-auto">Feedback Deleted<strong>
	    </div>
	</div>
	
	<script type="text/javascript">
	const queryString = window.location.search;
	console.log(queryString);
	const urlParams = new URLSearchParams(queryString);
	const deleted = urlParams.get('deleted')
	function showfeedbackDeletedToast() {
		if(deleted==="1"){
			var myAlert = document.getElementById('feedbackDeleted');//select id of toast
		      var bsAlert = new bootstrap.Toast(myAlert,{delay:2000});//inizialize it
		      bsAlert.show();//show it
		}
	}
	
	window.onload= ()=>{
		showfeedbackDeletedToast();
	}
	
	function delayPopup()
	{
		if(deleted==="1"){
			const url = window.location.href;
			console.log(url);
			const urlobj = new URL(url);
			urlobj.searchParams.delete("deleted");
			console.log(urlobj.toString());	
			window.location.assign(urlobj.toString());
		}		
	}
	
	setTimeout(delayPopup,2000)
	</script>
	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js}"
		integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="text/javascript" th:src="@{/js/style.js}"></script>
</body>
</html>
