<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<Meta HTTP-EQUIV="Refresh" CONTENT="20">
<title>Canteen Management Service</title>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
	integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/da7dc3d4c5.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/bookorder.css}" />
</head>
<body>
	<a th:href="@{/logout}" class="logoutbutton">Log out</a>

	<div class="navbar">
		<div class="logo">
			NRI <span id="diff">Canteen</span>
		</div>

		<h3 class="hellouser">
			Hello, <span th:text="${user.name}"></span>
		</h3>
	</div>
	<div class="userboard">
		<div class="menubar">
			<a th:href="@{/user/bookOrder}" class="active"><i
				class="fa-sharp fa-solid fa-burger icon"></i> Book Order</a> <a
				th:href="@{/user/viewPreviousOrders}"><i
				class="fa-solid fa-backward icon"></i> View Previous Order</a> <a
				th:href="@{/user/addMoneyToWallet}"><i
				class=" fa-sharp fa-solid fa-wallet icon"></i> Add Money to Wallet</a> <a
				th:href="@{/user/updateProfile}"><i
				class="fa-solid fa-user icon"></i> Update Profile</a> <a
				th:href="@{/user/useranalytics}"><i
				class="fa-sharp fa-solid fa-chart-simple icon"></i> Analytics</a>
		</div>
		<div class="maincontent">
			<div class="menuInputForm">
				<form th:action="@{/user/bookOrderByType}" class="actualForm">
					<div class="header">
						<div class="title">
							<h1>Book your Order</h1>
							<h3 class="chooseType">Choose your type</h3>
						</div>
						<div class="walletbalance">
							<h2>Wallet Balance</h2>
							<h1>
								<span>₹ </span><span th:text=${user.wallet}></span>
							</h1>
						</div>
					</div>

					<div class="mainInput">
						<input type="radio" id="red" name="type" value="Nonveg"> <label
							for="red">Non-Veg</label> <input type="radio" id="green"
							name="type" value="Veg"> <label for="green">Veg</label> <input
							type="radio" id="all" name="type" value="All"> <label
							for="all">All</label> <input type="submit" value="Search result"
							class="button searchItemButton" />
					</div>

				</form>

			</div>
	<div class="currentmenu">
				
				<div class="seachHeader">
				<h2>Current Menu</h2>
				<div class="searchItem">
					<form th:action="@{/user/bookOrderByName}">
						<input type="text" placeholder="Enter item name" id="searchInput" name="foodItemName"/>
						<input type="submit" value="Search" class = "button"/>
					</form>
					<div class="searchSuggestion"></div>
				</div>
				</div>
				
				<div class="menuItems">
					<div class="card" style="width: 18rem;"
						th:each="food : ${foodItems}">
						<div th:if="${#strings.isEmpty(food.image)}">
							<img class="card-img-top"
								th:src="@{https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png}"
								alt="" />
						</div>
						<div th:unless="${#strings.isEmpty(food.image)}">
							<img th:src="*{'data:image/jpeg;base64, '+{food.image}}"
								class="card-img-top" alt="...">
						</div>

						<div class="card-body">
							<div class="first">
								<h3 class="card-title" th:text="${food.name}"></h3>
								<!-- 		<h5 th:text="${food.type}"></h5> -->
								<div class="circle"
									th:classappend="${food.type=='Veg'?'circle-green':'circle-red'}"></div>
							</div>
							<div class="second">
								<h5 class="price">
									₹ <span th:text="${food.price}"></span>
								</h5>

							</div>
							<h5 class="availbelfrom">
								Available from - <span th:text="${food.foodServedDate}"></span>
							</h5>

							<a th:href="@{'/user/itemFeedback/'+${food.ID}}"
								style="color: #f76c28">View Feedback</a> <a
								th:href="@{'/user/selectDates/'+${food.ID}+'/'+${food.foodServedDate}}"
								class="bookorderbtn btn">Book Order</a>
						</div>
					</div>

				</div>



			</div>

			<div class="upcomingOrders">
				<h2>Upcoming Orders</h2>
				<table class="styled-table">
					<thead>
						<tr>
							<th>Order Id</th>
							<th>Order Date</th>
							<th>Item Name</th>
							<th>Type</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Action</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="order :  ${user_orders}">
							<td th:text="${order.orderId}"></td>
							<td th:text="${order.orderDate}"></td>
							<td th:text="${order.food.name}" class = "foodItemName"></td>
							<td th:text="${order.food.type}"></td>
							<td th:text="${order.totalPrice}"></td>
							<td th:text="${order.quantity}"></td>
							<td><a th:href="@{'/user/cancelOrder/'+${order.orderId}}"
								class="cancleorderbtn">Cancel Order</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="toast" id="toast"
		style="position: absolute; top: 10px; left: 50%; transform: translateX(-50%)">
		<div class="toast-header">
			<strong class="mr-auto">Signed In Successfully</strong>
		</div>
		<div class="toast-body">Welcome!!</div>
	</div>
	<div class="toast" id="bookingComplete"
		style="position: absolute; top: 10px; left: 50%; transform: translateX(-50%)">
		<div class="toast-header">
			<strong class="mr-auto">Order Booked</strong>
		</div>
	</div>
	<div class="toast" id="cancel"
		style="position: absolute; top: 10px; left: 50%; transform: translateX(-50%)">
		<div class="toast-header">
			<strong class="mr-auto">Order cancelled</strong>
		</div>
	</div>
	<script type="text/javascript">
	const queryString = window.location.search;
	console.log(queryString);
	const urlParams = new URLSearchParams(queryString);
	const bookingComplete = urlParams.get('bookingComplete')
	const cancel = urlParams.get('cancel')
	function showBookedToast() {
		if(bookingComplete==="1"){
			var myAlert = document.getElementById('bookingComplete');//select id of toast
		      var bsAlert = new bootstrap.Toast(myAlert,{delay:2000});//inizialize it
		      bsAlert.show();//show it
		}
	}
	function showCancelToast() {
		if(cancel==="1"){
			var myAlert = document.getElementById('cancel');//select id of toast
		      var bsAlert = new bootstrap.Toast(myAlert,{delay:500});//inizialize it
		      bsAlert.show();//show it
		}
	}
	
	window.onload= ()=>{
		showBookedToast();
		showCancelToast();
	}
	
	function delayPopup()
	{
		if(bookingComplete==="1"){
			const url = window.location.href;
			console.log(url);
			const urlobj = new URL(url);
			urlobj.searchParams.delete("bookingComplete");
			console.log(urlobj.toString());	
			window.location.assign(urlobj.toString());
		}
		else if(cancel==="1"){
			const url = window.location.href;
			console.log(url);
			const urlobj = new URL(url);
			urlobj.searchParams.delete("cancel");
			console.log(urlobj.toString());	
			window.location.assign(urlobj.toString());
		}
		
	}
	
	setTimeout(delayPopup,2000)
	</script>
	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js}"
		integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="text/javascript" th:src="@{/js/style.js}"></script>
	<script>
	function showToast() {
	      var myAlert = document.getElementById('toast');//select id of toast
	      var bsAlert = new bootstrap.Toast(myAlert,{delay:2000});//inizialize it
	      bsAlert.show();//show it
	    }
	
	//Setting the session so that the popup does not display again
	var is_modal_show = sessionStorage.getItem('alreadyShow');
	if(is_modal_show != 'already shown'){
	window.onload= ()=>showToast();
	sessionStorage.setItem('alreadyShow','already shown');
	}

	</script>
	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js}"
		integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="text/javascript" th:src="@{/js/style.js}"></script>
	<script type= "text/javascript" th:src="@{/js/searchLogin.js}"></script>
</body>
</html>
