@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.icon{
	margin-right: 20px;
}

.secondInput{
	display: flex;
}

input[type="file"] {
  background-color: white;
  font-size: 16px;
  color:#272c48 ;
  padding: 15px;
  border-radius: 15px;
  margin: 20px;
}


input[type="file"]:focus {
  outline: none;
  box-shadow: 0 0 5px #4CAF50;
}

input[type="file"]::-webkit-file-upload-button {
  background-color:#f76c28 ;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  border: none;
}

input[type="file"]::-ms-browse {
  background-color: #f76c28;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  border: none;
}

.userboard {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100%;
}

.menubar {
	flex: 20;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #272c48;
}

.menubar>a {
	padding: 20px;
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.hellouser{
	padding: 25px;
	color: white;
	background-color: #272c48;
	font-size: 1.3rem;
	font-weight: bold;
}

.active{
	background-color : white;
	color:black !important;

}

.maincontent {
	flex: 80;
	height: 100vh;
	width: 100%;
	padding: 25px;
	overflow-y : scroll;

}

.maincontent > h2{
	margin-top:30px;
}


.inputField{
	margin-bottom: 20px;
	margin-top: 20px;
	background: white;
	border-radius: 15px;
	border: none;
	padding: 15px;
	width: 300px;
	margin-left : 20px;
	margin-right: 20px;
}

.menuInputForm{
	background-color:#ffeee7;
	padding:30px;
	border-radius: 20px;
}

.actualForm > h1{
	font-weight: bold;
	color :#f76c28;
}

.button {
	width: 150px;
	padding: 20px;
	background: #f76c28;
	border-radius: 15px;
	border: none;
	color: white;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left : 15px;
	font-weight: bold;
}

.currentmenu{
	font-weight: bold;
}


.orderstitle{
	margin-top: 20px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
  	width : 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}

.styled-table thead tr {
    background-color: #272c48;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #ffeee7;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #f76c28;
}

a{
	text-decoration : none;
}

#userIdinput{
	margin-left : 15px;
}

.logoutbutton{
	position : absolute;
	bottom: 0;
	left :80px;
	background-color: #fbded2;
	padding : 15px;
	color : black;
	border : none;
	border-radius: 5px;
	margin : 25px;
	z-index: 100;
	font-weight: bold;
}



.disabledInput{
	display:none;
}

.cancleButton{
	padding: 15px;
	background: #34704a;
	border-radius: 15px;
	border: none;
	color: white;
}
input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  align-content: center;
}

label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 3px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
}

input[type="radio"]:checked + label:before {
  content: "\2022";
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 18px;
  background-color: #f76c28;
  border-color: #ffeee7;
}

.deletefooditem{
	font-weight: bold;
	color: red;
	opacity : 0.5;
}

.deletefooditem:hover{
	opacity : 1;
}
