@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.icon{
	margin-right: 20px;
}
.userboard{
	display: flex;
	flex-direction : row;
	height: 93vh;
	width: 100%;
}

.linkbar {
	flex: 3;
	background-color: #272c48;
}

.linkbar>a>i {
	padding: 20px;
	color: white;
	text-decoration: none;
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 20px;
	width: 100%;
}

.navbar{
	height: 7vh;
	background-color: #272c48;
}
.logo{
	color : white;
	font-size: 1.3rem;
	font-weight: bold;
	margin-left: 30px;
}
#diff{
	color:#f76c28;
}

.navbar > h3{
	color: white;
	font-size: 1.3rem;
	font-weight: bold;
		margin-right: 30px;
}

.header{
	display:flex;
	justify-content: space-between;
}

.header>h2{
	color:#f76c28;
	font-weight: bold;
}

.menubar {
	flex: 17;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #272c48;
}

.menubar>a {
	padding: 20px;
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.menubar>h3 {
	padding: 25px;
	color: white;
	background-color: #272c48;
	font-size: 1.3rem;
	font-weight: bold;
}

.active{
	background-color : white;
	color:black !important;

}

.maincontent {
	flex: 83;
	height: 100%;
	width: 100%;
	padding: 20px;
	overflow-y : scroll;

}

.maincontent > h2{
	height:10vh;
	width: 100%;
}

.inputField{
	margin-bottom: 20px;
	margin-top: 20px;
	background: white;
	border-radius: 15px;
	border: none;
	padding: 15px;
	width: 300px;
	margin-left : 20px;
	margin-right: 20px;
}



.button {
	width:auto;
	padding: 20px;
	background: #f76c28;
	border-radius: 15px;
	border: none;
	color: white;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left : 15px;
	font-weight: bold;
}




.orderstitle{
	margin-top: 20px;
}

a{
	color : black;
	text-decoration : none;
}
#userIdinput{
	margin-left : 15px;
}

.logoutbutton{
	position : absolute;
	bottom: 0;
	left :80px;
	background-color: #fbded2;
	padding : 15px;
	color : black;
	border : none;
	border-radius: 5px;
	margin : 25px;
	z-index: 100;
	font-weight: bold;
}



.disabledInput{
	display:none;
}

.cancleButton{
	padding: 15px;
	background: #34704a;
	border-radius: 15px;
	border: none;
	color: white;
}

.chooseType{
	margin-top: 20px;
}

.mainInput{
	margin-top:20px;
}
.header{
	display:flex;
	justify-content: space-between;
}

.itemdetails{
	display: flex;
}

.margin{
	margin-left: 60px;
}

.selecteddates{
 	display:flex; 
	justify-content: space-between;
	padding:10px;
	margin-top:20px;
}

.selecteddatesheader{
		display:flex;
	justify-content: space-between;
	background-color:#272c48;
	color:white;
	padding:20px;
	margin-top:50px;
}

.transparentInput{
	border:none;
	font-weight: bold;
	font-size: 1.5rem;
}

input:focus{
	border:none;
	outline:none;
}

.cancle{
	background-color:red;
}

.errorbox{
	margin-top:50px;
	
}


.inputdate{
	margin-top:50px;
}

.header{
	display:flex;
	flex-direction:column;
	
}

.itemdetails{
	display:flex;
	align-items: center;
	justify-content: space-between;
}

.itemdetails>h2{
	font-weight: bold;
}

.inputdate > h1{
	font-weight: bold;
	color:#f76c28;
}

.walletDetails{
	padding:20px;
	color : white ;
	background-color: #272c48;
	display:flex;
	justify-content: space-between;
}

.orderTotal{
	margin-left:30px;
}
.erase{
	display:none;
}