*{
	margin: 0;
	padding :0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.backtosigninsignup{
	display: flex;
	justify-content: space-between;
}

.generatebtn{
	background-color:#ffeee7;
	display:flex;
	align-content:flex-start;
	margin-bottom: 2px;
	margin-top: 2px;
}


.content{
	height:100vh;
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.hero{
	height : 90vh;
	width: 75%;
	margin:auto;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	background: #ffeee7;
	align-items: center;
	padding: 20px;
}

.left{
	display:flex;
	flex-direction: column;
	justify-content:space-around;
	align-items:stretch;
	flex: 50;
	padding: 15px;
	margin-left: 50px;
}

.right {
	flex: 50;
	padding: 20px;
	margin-right: 15px;
}

form{
	display:flex;
	flex-direction : column;
	
}

input{
	margin-bottom: 20px;
	margin-top: 20px;
	background: white;
	
	border-radius: 15px;
	border:none;
	padding: 15px;
	width:100%;
}

.button {
	width: 100%;
	padding: 20px;
	background: #f76c28;
	border-radius: 15px;
	border: none;
	color: white;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left : 15px;
	font-weight: bold;
}

a{
	color:white;
	text-decoration:none;
}


.title{
	color:#f76c28;
	font-size: 5em;
}
.welcome{
	font-size:30px;
}

.newuserlink{
	color: #f76c28;
}

.newuser{
	margin-left:30px;
}

.slider{
	position:absolute;
	top:0;
	left:0;
	width:50%;
	height:100vh;
	background: #272c48;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  Chrome 10-25, Safari 5.1-6
background: linear-gradient(to right, #6dd5ed, #2193b0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	opacity:1;
	z-index:-1;
}

.cook{
		position: absolute;
	left: 24px;
	bottom:16px;
	z-index: 100;
	width: 100%;
	max-width: 180px;
}

.burger{
	position: absolute;
	right: 30px;
	bottom:150px;
	z-index: 100;
	width: 100%;
	max-width: 250px;
}


