@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.icon{
	margin-right: 20px;
}

.userboard {
	display: flex;
	flex-direction: row;
	height: 93vh;
	width: 100%;
}

.linkbar {
	flex: 3;
	background-color: #272c48;
}

.linkbar>a>i {
	padding: 20px;
	color: white;
	text-decoration: none;
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 20px;
	width: 100%;
}

.navbar{
	height: 7vh;
	background-color: #272c48;
}
.logo{
	color : white;
	font-size: 1.3rem;
	font-weight: bold;
	margin-left: 30px;
}
#diff{
	color:#f76c28;
}

.navbar > h3{
	color: white;
	font-size: 1.3rem;
	font-weight: bold;
		margin-right: 30px;
}

.menubar {
	flex: 17;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #272c48;
}

.menubar>a {
	padding: 20px;
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.menubar>h3 {
	padding: 25px;
	color: white;
	background-color: #272c48;
	font-size: 1.3rem;
	font-weight: bold;
}

.active{
	background-color : white;
	color:black !important;

}


.maincontent {
	flex : 83;
	height: 100%;
	width: 100%;
	padding-top: 20px;
	padding-right:20px;
	padding-left:20px;
	padding-bottom:0;
	overflow-y:scroll; 
}


.updateprofileform {
	display: flex;
	flex-direction: column;
}

input {
	margin-bottom: 20px;
	margin-top: 20px;
	background: white;
	border-radius: 15px;
	border: none;
	padding: 15px;
	width: 400px;
}

.button {
	width: 150px;
	padding: 20px;
	background: #f76c28;
	border-radius: 15px;
	border: none;
	color: white;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left : 15px;
	font-weight: bold;
}

.updateprofileform > h2{
margin-bottom: 20px;
	color: #272c48;
	font-weight: bold;
}

.logoutbutton{
	position : absolute;
	bottom: 0;
	left :80px;
	background-color: #fbded2;
	padding : 15px;
	color : black;
	border : none;
	border-radius: 5px;
	margin : 25px;
	z-index: 100;
	font-weight: bold;
}


a{
	text-decoration: none;
}

.content{
	display:flex;
	justify-content: space-between;
	background-color:#ffeee7;
	padding: 30px;
	border-radius: 20px;
}

.maincontent>h2{
	color:#f76c28;
	font-weight: bold;
	margin-bottom: 50px;
}

img.updateprofile {
	width:27rem;
	margin-top:80px;
   animation: mover 1s infinite  alternate;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-40px); }
}