@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


.icon{
	margin-right: 20px;
}

a{
	text-decoration: none;
}

.userboard {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100%;
}

.menubar {
	flex: 20;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #272c48;
}

.menubar>a {
	padding: 20px;
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.menubar>h3 {
	padding: 25px;
	color: white;
	background-color: #272c48;
	font-size: 1.3rem;
	font-weight: bold;
}

.active{
	background-color : white;
	color:black !important;

}

.maincontent {
	flex: 80;
	height: 100vh;
	width: 100%;
	padding: 25px;
	overflow-y : scroll;
}

.formInput{
	background-color:#ffeee7;
	padding:30px;
	border-radius: 20px;
}

.formInput>h1 {
	height: 12vh;
	width: 100%;
	font-weight: bold;
	color :#f76c28;
}


input {
	margin-bottom: 20px;
	margin-top: 20px;
	background: white;
	border-radius: 15px;
	border: none;
	padding: 15px;
	width: 400px;
}


.button {
	width: auto;
	padding: 20px;
	background: #f76c28;
	border-radius: 15px;
	border: none;
	color: white;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left : 15px;
	font-weight: bold;
}

a{
	color : black;
	text-decoration : none;
}

#userIdinput{
	margin-left : 15px;
}

.feedback{
	padding : 25px;
	margin-top: 20px;
	border-radius: 15px;
	border: none;
	background : #ffeee7;
	position : relative;
}

 .feedback:after {
        position: absolute;
        content: '';
        height: 2px;
        bottom: -4px; 
        margin: 0 auto;
		  left: 0;
        right: 0;
		  width: 75%;
		  background: #f76c28;
		  -o-transition:.5s;
  		  -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    } 




.below{
	display : flex;
	flex-direction : row;
	margin-top : 15px;
	align-items: center;
	justify-content :space-between;
}

.below > a{
	text-decoration: none;
	color: white;
	background-color : red;
	padding:10px;
	border-radius : 10px;
	margin-right:30px;
}

.logoutbutton{
	position : absolute;
	bottom: 0;
	left :80px;
	background-color: #fbded2;
	padding : 15px;
	color : black;
	border : none;
	border-radius: 5px;
	margin : 25px;
	z-index: 100;
	font-weight: bold;
}

.viewpreviousordersheader{
	display: flex;
	justify-content: space-between;
	align-items: center
}

.downloadbtn{
	width:auto;
}


.feedbackfoodname{
	margin-left:10px;
	font-size: 1rem;
	color:#f76c28;
} 

.line{
	margin-left:10px;
}

.feedprovider{
	color:  #272c48;
	font-size: 1.3rem;
}

.disabled{
	display:none;
}


