<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Canteen Management Service</title>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/signup.css}" />
<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
<link rel="preconnect" th:href="@{https://fonts.gstatic.com}"
	crossorigin>
<link
	th:href="@{https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}"
	rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


</head>
<body>
	<img th:src="@{/images/cook.png}" alt="" class="cook" />
	<img th:src="@{/images/flyingburger.png}" alt="" class="burger" />
	<div class="content">
		<div class="hero">
			<div class="left">
				<h1 class="welcome">Create an account</h1>
				<h1 class="welcome">to become the</h1>
				<h1 class="welcome">part of our</h1>
				<h1 class="title">Canteen</h1>
			</div>
			<div class="right">
				<h3>Fill the details to become the</h3>
				<h3>part of our Canteen</h3>
			
				<form th:action="@{/genarateOtpForSignUp}" method="post">
					<input type="email" placeholder="Enter your Email" name="username" th:value="${username}" required>
					<input  type="submit" style="color:#f76c28" value="Genarate Otp" class = "generatebtn">
				</form>
				
				<form th:action="@{/do_register}" method="post" th:object="${canteenUser}">
					<input type="number" placeholder="Enter your OTP" name="signupOtp" required />
					<input type="text" placeholder="Enter your Name" name="name" minlength="3" required/> 
					<input
						type="password" placeholder="Choose a password" name="password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
  title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required />
					<input type="tel" placeholder="Enter your phone number"
						name="phone" minlength="10" maxlength="10"  pattern="[6789][0-9]{9}" title="Must be valid Phone Number" required/> <input type="submit" value="Submit" class="button" />

				</form>

				<p class="newuser">
					Already a User? <a class="newuserlink" th:href="@{/signin}">SignIn</a>
				</p>
			</div>

		</div>
	</div>

	<div class="slider"></div>
	<div class="toast" id="UserExists" style="position: absolute; top: 10px; left: 50%;transform:translateX(-50%)">
	    <div class="toast-header">
	      <strong class="mr-auto">User Exists</strong>
	    </div>
	</div>
	<script>
	var OTP = "[[${OTP}]]";
	var UserExists = "[[${UserExists}]]";
	console.log(UserExists);
	function showUserExistsToast() {
		if(UserExists==="1"){
	      var myAlert = document.getElementById('UserExists');//select id of toast
	      var bsAlert = new bootstrap.Toast(myAlert,{delay:2000});//inizialize it
	      bsAlert.show();//show it 
	      console.log(UserExists);
	      UserExists = "0";
	      console.log(UserExists);
	    } 
	
	}
	function showOTPToast() {
		if(OTP==="2"){
			var myAlert = document.getElementById('OTPmismatch');//select id of toast
		      var bsAlert = new bootstrap.Toast(myAlert,{delay:2000});//inizialize it
		      bsAlert.show();//show it
		      OTP = "0";
		}
	}
	window.onload=()=> {
		showUserExistsToast();
		showOTPToast();
		}
	</script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js}"
		integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="text/javascript" th:src="@{/js/style.js}"></script>
</body>
</html>